body, div, h1, h2, ol, form, iframe, img, textarea {
	border:none;
	margin:0;
	padding:0;
}

ul {
	padding: 0;
	list-style-type: none;
}

body {
	background: url(/images/background.png);
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 28px;
	font-weight: bold;
}

strong {
	font-weight: bold;
	font-size: 16px;
}

#box {
	background: #FFF;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 20px;

 	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
 	-moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
 	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);      
}

a {
	color: #3F69D6;
	border-bottom: 1px solid #3F69D6;
	text-decoration: none;
}

a:hover {
	border-bottom: none;
}